@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  background-color: #171717;
}

::selection {
  color: white;
  background-color: black;
}

.dark::selection {
  color: black;
  background-color: white;
}